html {
    background-color: rgb(234, 229, 229);
}

#Main {
    color: rgb(208, 36, 59);
    font-size: 50px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}